{% extends 'connectes/base.html' %}
{% load static %}


{% block style %} 
<style> 
   
</style>
{% endblock style %}

{% block content %}
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
     
      {% include  'connectes/partials/_navbar.html' %} 

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">

        <!-- partial:partials/_sidebar.html -->
        {% include 'connectes/partials/_sidebar.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          {% include 'connectes/partials/_footer.html' %}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
   
    {% endblock content %}
  
    {% block script %}

    {% endblock script %}